.angle-indicator-container {
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}

.angle-indicator-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50% 50% 0 0;
}

.angle-indicator-svg {
  position: absolute;
  top: 0;
  left: 0;
} 